<!DOCTYPE html>
<meta charset="utf-8">
<html lang="pt-BR">
<head>
  <title>Exercicio 1 </title>
  <style type="text/css">

      header {
        display: block;
      }

      #diego {
        background-color: blue;
      }

      p:nth-of-type(2) {
        background-color: red; 
      }

  </style>
</head>
  <body>
    <header>
      <h1> Site Name </h1>
      <nav>
           <a href="#">Link1</a>
           <a href="#">Link1</a>
           <a href="#">Link1</a>
           <a href="#">Link1</a>
           <a href="#">Link1</a>
      </nav>
    </header>
    <section>
     <h1>Quem é o bonitão?</h1>
     <p>Ítalo?</p>
     <p id="diego">Diego?</p>
     <h2>Título</h2>
     <p>Outro dessa sala?</p>
    </section>
    <section>
      <article>
        <header>
          <h1>
            HEADING
          </h1>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <aside>
          <nav>
            <h3> Block Header </h3>
            <ul>
              <li>Item1</li>
              <li>Item1</li>
              <li>Item1</li>
              <li>Item1</li>
            </ul>
          </nav>
        </aside>
      </article>
    </section>
    <footer>
      copyright
    </footer>
  </body>
</html>
