<!DOCTYPE html>
<meta charset="utf-8">
<html lang="pt-BR">
<head>
  <title>Exercicio 1 </title>
  <link rel="stylesheet" type="text/css" href="../css/mondrian.css">
</head>
  <body>
    <!-- <aside>
      <div class="left_line1"></div>
      <div class="left_line2"></div>
      <div class="left_line3"></div>
    </aside> -->
    <section>
      <!-- first line --><!-- first line --><!-- first line --><!-- first line --><!-- first line --><!-- first line --><!-- first line -->
      <div class="content_line1col1"></div>
      <div class="content_line1col2"></div>
      <div class="content_line1col3"></div>
      <div class="content_line1col4"></div>
      <div class="content_line1col5"></div>
      <div class="content_line1col6"></div>


      <div class="content_line2col1"></div>
      <div class="content_line2col2"></div>
      <div class="content_line2col3"></div>
      <div class="content_line2col4"></div>
      <div class="content_line2col5"></div>
      <div class="content_line2col6"></div>
      <div class="content_line2col7"></div>

      <div class="content_line3col1"></div>
      <div class="content_line3col2"></div>
      <div class="content_line3col3"></div>
      <div class="content_line3col4"></div>
      <div class="content_line3col5"></div>


      <!-- first line --><!-- first line --><!-- first line --><!-- first line --><!-- first line --><!-- first line --><!-- first line -->
    </section>
    <!-- <aside>
      <div class="right_line1"></div>
      <div class="right_line2"></div>
      <div class="right_line3"></div>
    </aside> -->
  </body>
</html>
